$main-title-color: #1B242B;
$white-color: #FFFFFF;
$accent-color: #F7A801;
$text-color: #8D98A1;
$second-container-color: #F6F6F7;
$footer-color: #19191A;

// cubic vars
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);

