.footer {
  background-color: $main-title-color;

  &__container {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    @include container(
      $padd-top: 16px,
      $padd-btm: 24px,
      $padd-right: 24px,
      $padd-left: 24px
    );
  }

  &__logo {
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
  }

  &__list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    margin-bottom: 40px;
  }

  &__link {
    @include fontPreset(700, 14px, 24px, 0);
    color: $white-color;
    text-transform: none;
  }

  &-contact {
    // &__tb {
    //   display: none;
    // }

    &__list {
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
      margin-bottom: 42px;
    }

    &__link {
      @include fontPreset(700, 14px, 14px, 0);
      color: $white-color;
      text-decoration: underline;
    }

    &__icon {
      margin-right: 8px;
      fill: $white-color;
    }
  }

  &-consultation {
    display: flex;
    justify-content: center;
    &__button {
      @include buttonSet(flex, 300px, 40px, 12px, 16px, $accent-color, black);
      @include fontPreset();
      box-shadow: 4px 4px 0px #3da9f4;
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 40px;
    }

    &__icon {
      margin-right: 8px;
    }
  }

  &-socials {
    &__list {
      display: flex;
      gap: 16px;
      justify-content: center;
    }

    &__icon {
      fill: $white-color;
      width: 24px;
      height: 24px;

      &-tg {
        width: 20.5px;
        height: 20.5px;
      }
    }
  }
}

@media screen and(min-width:768px) {
  .footer {
    &__container {
      @include container(
        $padd-top: 40px,
        $padd-btm: 24px,
        $padd-right: 24px,
        $padd-left: 24px
      );
    }

    &-top {
      display: flex;
      flex-direction: row;
      margin-bottom: 16px;
      align-items: center;
      justify-content: space-between;
    }

    &__logo {
      margin-bottom: 0;
      justify-content: left;
    }

    &__list {
      flex-direction: row;
      margin-bottom: 0;
      gap: 40px;
    }

    &-bottom {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    &-contact {
      // &__mob {
      //     display: none;
      // }
      // &__tb {
      //   display: block;
      // }

      &__list {
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
      }

      &__link {
      }

      &__icon {
      }
    }

    &-consultation {
      &__button {
        margin: 0;
        min-width: 200px;
      }

      &__icon {
      }
    }

    .footer-socials {
      &__list {
        display: flex;
        gap: 16px;
        justify-content: center;
      }

      &__icon {
        fill: $white-color;
        width: 24px;
        height: 24px;

        &-tg {
          width: 20.5px;
          height: 20.5px;
        }
      }
    }
  }
}

@media screen and(min-width:1200px) {
  .footer {
    &__container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      padding: 0 15px;
      padding-top: 18px;
      padding-right: 24px;
      padding-left: 24px;
      padding-bottom: 24px;
    }

    &-top {
      display: flex;
      flex-direction: row;
      margin-bottom: 0;
      align-items: center;
      justify-content: space-between;
    }

    &__logo {
      margin-bottom: 0;
      justify-content: left;
    }

    &__list {
      flex-direction: row;
      margin-bottom: 0;
      gap: 24px;
      margin-left: 10px;
    }

    &__link {
      @include fontPreset(700, 14px, 24px, 0.03em);
    }

    &-bottom {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    &-contact {
      margin-left: 10px;
      margin-right: 20px;
      // &__mob {
      //     display: none;
      // }
      // &__tb {
      //   display: block;
      // }

      &__list {
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
      }

      &__link {
        @include fontPreset(700, 14px, 14px, 0);
      }

      &__icon {
      }
    }

    &-consultation {
        margin-right: 20px;
      &__button {
        margin: 0;
        min-width: 200px;
      }

      &__icon {
      }
    }

    .footer-socials {
      &__list {
        display: flex;
        gap: 16px;
        justify-content: center;
      }

      &__icon {
        fill: $white-color;
        width: 16px;
        height: 16px;

        &-tg {
          width: 14.5px;
          height: 14.5px;
        }
      }
    }
  }
}
